:host {
    display: flex;
    padding: 1rem 2rem;
    position: fixed;
    left: 10%;
    bottom: 10%;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .2);
    opacity: 0;
    transform: translateY(-100%);
    z-index: 9999;
}

:host(.success) {
    background: rgb(135, 184, 55);
}

:host(.error) {
    background: rgb(184, 55, 55);
}