<nav>
    <div class="links">
        <a [routerLink]="[ '/home' ]">Home</a>
        <a [routerLink]="[ '/locations' ]">Locations</a>
        <a [routerLink]="[ '/companies' ]">Companies</a>
        <a [routerLink]="[ '/events' ]">Events</a>
        <ng-container *ngIf="user">
            <a [routerLink]="[ '/admin' ]" *ngIf="isAdmin()">Admin</a>
        </ng-container>
    </div>
    <div class="logged-as" *ngIf="user; else login">
        Logged in as: {{ user.username }}
    </div>
    <ng-template #login>
        <div class="logged-as">
            <a [routerLink]="[ '/login' ]">Login</a>
        </div>
    </ng-template>
</nav>
