@import './../../colors';

:host nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: $gray;
    border-bottom: 1px solid black;
    .links {
        display: flex;
        a {
            margin: 0 30px;
        }
    }
    .logged-as {
        margin-right: 30px;
    }
}