<ng-container *ngIf="company$ | async as company">
    <form [formGroup]="form">
        <div class="container">
            <span>Click on the field to edit</span>
            <div class="form-field">
                <label for="name">NAME:</label>
                <input type="text" name="name" id="name" formControlName="name">
            </div>
            <div class="form-field">
                <label for="location">LOCATION:</label>
                <ng-container *ngIf="locations$ | async as locations; else locationTxt">
                    <select name="location" id="location" formControlName="location_id">
                        <option *ngFor="let location of locations" [value]="location.id">{{ location.name }}</option>
                    </select>
                </ng-container>
                <ng-template #locationTxt>
                    <input type="text" name="location" [value]="company.location.name" disabled>
                </ng-template>
            </div>
            <div class="actions">
                <button class="orange" (click)="onSave()" [disabled]="!form.valid || form.pristine || requesting">save</button>
                <button class="red" (click)="onDelete()" [disabled]="requesting">delete</button>
            </div>
        </div>
    </form>
</ng-container>
