<form [formGroup]="form">
    <div class="container">
        <div class="form-field">
            <label for="name">Location Name:</label>
            <input type="text" name="name" id="name" formControlName="name">
        </div>
        <div class="form-field">
            <label for="country">Country:</label>
            <input type="text" name="country" id="country" formControlName="country">
        </div>
        <div class="actions">
            <button (click)="onSubmit()" [disabled]="!form.valid">add location</button>
        </div>
    </div>
</form>