<app-company-form [locations]="locations$ | async" (addCompany)="onAddCompany($event)"></app-company-form>
<ng-container *ngIf="companies?.length">
    <table>
        <tr>
            <th>Name</th>
            <th>Location</th>
        </tr>
        <tr *ngFor="let company of companies; trackBy: trackByFn">
            <td><a [routerLink]="[ company.id ]">{{ company.name }}</a></td>
            <td><a [routerLink]="[ '/locations/' + company.location.id ]">{{ company.location.name }}</a></td>
        </tr>
    </table>
    <app-pagination [currentPage]="currentPage$ | async" [lastPage]="lastPage$ | async" (pageChange)="onPageChange($event)"></app-pagination>
</ng-container>
