<div class="tabs">
    <a [routerLink]="[ 'users' ]" routerLinkActive="active">Users</a>
    <a [routerLink]="[ 'locations' ]" routerLinkActive="active">Locations</a>
    <a [routerLink]="[ 'companies' ]" routerLinkActive="active">Companies</a>
    <a [routerLink]="[ 'events' ]" routerLinkActive="active">Events</a>
</div>
<router-outlet></router-outlet>
