<ng-container *ngIf="users$ | async as users">
    <table>
        <tr>
            <th>Username</th>
            <th>Admin Status</th>
            <th>
                <button class="orange" (click)="onSaveChanges()" [disabled]="!(changedRoles$ | async)?.length">save changes</button>
                <button class="orange" (click)="onDiscardChanges()" [disabled]="!(changedRoles$ | async)?.length">discard changes</button>
            </th>
        </tr>
        <tr *ngFor="let user of users; trackBy: trackByFn">
            <td>{{ user.username }}</td>
            <td>{{ getCurrentRole(user) }}</td>
            <td>
                <button class="green" (click)="onChangeRole(user)">{{ changeRoleTo(user) }}</button>    
            </td>
        </tr>
    </table>
</ng-container>
