<ng-container *ngIf="event$ | async as event">
    <form [formGroup]="form">
        <div class="container">
            <span>Click on the field to edit</span>
            <div class="form-field">
                <label for="name">NAME:</label>
                <textarea name="name" id="name" cols="10" rows="3" formControlName="name"></textarea>
            </div>
            <div class="form-field">
                <label for="company">COMPANY:</label>
                <ng-container *ngIf="companies$ | async as companies; else companyTxt">
                    <select name="company" id="company" formControlName="company_id">
                        <option *ngFor="let company of companies" [value]="company.id">{{ company.name }}</option>
                    </select>
                </ng-container>
                <ng-template #companyTxt>
                    <input type="text" name="company" [value]="event.company.name" disabled>
                </ng-template>
            </div>
            <div class="form-field">
                <label for="location">LOCATION:</label>
                <ng-container *ngIf="locations$ | async as locations; else locationTxt">
                    <select name="location" id="location" formControlName="location_id">
                        <option *ngFor="let location of locations" [value]="location.id">{{ location.name }}</option>
                    </select>
                </ng-container>
                <ng-template #locationTxt>
                    <input type="text" name="location" [value]="event.location.name" disabled>
                </ng-template>
            </div>
            <div class="actions">
                <button class="orange" (click)="onSave()" [disabled]="!form.valid || form.pristine || requesting">save</button>
                <button class="red" (click)="onDelete()" [disabled]="requesting">delete</button>
            </div>
        </div>
    </form>
</ng-container>