<app-location-form (addLocation)="onAddLocation($event)"></app-location-form>
<ng-container *ngIf="locations?.length">
    <table>
        <tr>
            <th>Name</th>
            <th>Country</th>
        </tr>
        <tr *ngFor="let location of locations; trackBy: trackByFn">
            <td><a [routerLink]="[ location.id ]">{{ location.name }}</a></td>
            <td>{{ location.country }}</td>
        </tr>
    </table>
    <app-pagination [currentPage]="currentPage$ | async" [lastPage]="lastPage$ | async" (pageChange)="onPageChange($event)"></app-pagination>
</ng-container>