<button (click)="onFirst()" [disabled]="currentPage === 1">first</button>
<button (click)="onPrev()" [disabled]="currentPage === 1">prev</button>
<button (click)="onClick(n)" [class.active]="n === currentPage" *ngFor="let n of numbers; trackBy: trackByFn">{{ n }}</button>
<button (click)="onNext()" [disabled]="currentPage === lastPage">next</button>
<button (click)="onLast()" [disabled]="currentPage === lastPage">last</button>