:host {
    display: flex;
    justify-content: center;
    padding: 20px;
}

button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 1rem;
    line-height: 1rem;
    color: inherit;
    background: #f1f1ef;
    border: none;
    cursor: pointer;
    outline: none;
    &:hover {
        text-decoration: underline;
    }
    &.active {
        color: #f1f1ef;
        background: rgb(119, 189, 7);
    }
    &:first-of-type::before, &:last-of-type::after {
        content: '';
        position: absolute;
        width: 60px;
        height: 100%;
        top: 0;
        border-radius: 50%;
        background: inherit;
        z-index: -1;
    }
    &:first-of-type::before {
        left: -50%;
    }  
    &:last-of-type::after {
        right: -50%;
    }
}
