<ng-container *ngIf="location$ | async as locations">
    <form [formGroup]="form">
        <div class="container">
            <span>Click on the field to edit</span>
            <div class="form-field">
                <label for="name">NAME:</label>
                <input name="name" id="name" formControlName="name">
            </div>
            <div class="form-field">
                <label for="county">COUNTRY:</label>
                <input name="country" id="country" formControlName="country">
            </div>
            <div class="actions">
                <button class="orange" (click)="onSave()" [disabled]="!form.valid || form.pristine || requesting">save</button>
                <button class="red" (click)="onDelete()" [disabled]="requesting">delete</button>
            </div>
        </div>
    </form>
</ng-container>
