<app-event-form [companies]="companies$ | async" [locations]="locations$ | async" (addEvent)="onAddEvent($event)"></app-event-form>
<ng-container *ngIf="events?.length">
    <table>
        <tr>
            <th>Name</th>
            <th>Company</th>
            <th>Location</th>
        </tr>
        <tr *ngFor="let event of events; trackBy: trackByFn">
            <td><a [routerLink]="[ event.id ]">{{ event.name }}</a></td>
            <td><a [routerLink]="[ '/companies/' + event.company.id ]">{{ event.company.name }}</a></td>
            <td><a [routerLink]="[ '/locations/' + event.location.id ]">{{ event.location.name }}</a></td>
        </tr>
    </table>
    <app-pagination [currentPage]="currentPage$ | async" [lastPage]="lastPage$ | async" (pageChange)="onPageChange($event)"></app-pagination>
</ng-container>