<form [formGroup]="form">
    <div class="container">
        <div class="form-field">
            <label for="username"></label>
            <input type="text" name="username" id="username" formControlName="username">
        </div>
        <div class="form-field">
            <label for="password"></label>
            <input type="password" name="password" id="password" formControlName="password">
        </div>
        <div class="actions">
            <ng-container *ngIf="error$ | async as error">
                <span>{{ error }}</span>
            </ng-container>
            <button (click)="onSubmit()" [disabled]="!form.valid || form.pristine || requesting">login</button>
        </div>
    </div>
</form>
