/* You can add global styles to this file, and also import other style files */
@import './colors';

* {
    box-sizing: border-box;
}

html, body { 
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding: 20px;
}

table, td, th {  
    border: 1px solid $light-gray;
    text-align: left;
}
  
table {
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    padding: 15px;
}

td {
    font-size: 0.875rem;
    font-weight: 300;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;;
    align-items: center;
    border-bottom: 1px solid $light-gray;
    margin-bottom: 20px;
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 400px;
        & > span {
            font-size: .75rem;
            font-weight: 300;
        }
        .form-field {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-bottom: 20px;
            label {
                padding-bottom: 5px;
            }
            input, textarea {
                padding: 10px;
                color: $gray;
                font-size: 1rem;
                border: 1px solid $light-gray;
            }
            textarea {
                resize: none;
            }
            // TODO: Style select element
        }
        .actions {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            padding-bottom: 10px;
            button + button {
                margin-left: 10px;
            }
        }
    }
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    padding: 8px 10px;
    color: $green;
    font-size: 0.75rem;
    text-transform: uppercase;
    border: 1px solid $green;
    border-radius: 5px;
    cursor: pointer;
    &.orange {
        color: $orange;
        border-color: $orange;
    }
    &.red {
        color: $red;
        border-color: $red;
    }
    &:disabled {
        color: $gray;
        border-color: $gray;
        cursor: initial;;
    }
}
