<form [formGroup]="form">
    <div class="container">
        <div class="form-field">
            <label for="name">Event Name:</label>
            <input type="text" name="name" id="name" formControlName="name">
        </div>
        <div class="form-field">
            <label for="location">Select a company:</label>
            <select name="company" id="company" formControlName="company_id">
                <option *ngFor="let company of companies" [value]="company.id">{{ company.name }}</option>
            </select>
        </div>
        <div class="form-field">
            <label for="location">Select a location:</label>
            <select name="location" id="location" formControlName="location_id">
                <option *ngFor="let location of locations" [value]="location.id">{{ location.name }}</option>
            </select>
        </div>
        <div class="actions">
            <button (click)="onSubmit()" [disabled]="!form.valid">add location</button>
        </div>
    </div>
</form>
